data/
graphs/
R_plots/

*.gexf
*.png

R/motor
R/pbmc3k/html

*.csv
*.html

R/kidney/README.txt
R/kidney/fpc
R/kidney/html
R/kidney/kmean_index_stats
R/kidney/kmean_index_stats_2
R/kidney/kmean_stats

Python_Functions/__pycache__
*.pyc

/get-pip.py
/main.py
/plots.ipynb

.vscode/
.Rhistory
.RData
get-pip.py